/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
body {
  /* overflow-x: hidden; */
}

/* animations */
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popup {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Navbar */
header {
  width: 100%;
  height: 64px;
  text-align: center;
  background-color: #1a374d;
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  font-weight: bold;
  position: fixed;
  z-index: 1;
}
header li {
  list-style: none;
  font-weight: bold;
}
header a {
  color: #b1d0e0;
}
header .brandLong {
  width: auto;
  height: 64px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b1d0e0;
}
header .brandShort {
  width: auto;
  height: 64px;
  float: left;
  display: none;
  align-items: center;
  justify-content: center;
  color: #b1d0e0;
}
header .menu {
  width: 50%;
  min-width: 350px;
  height: 100%;
  float: right;
}
header .menu ul {
  width: 100%;
  height: inherit;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
header .menu li {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .menu ul a {
  width: 25%;
  height: inherit;
  display: inline-block;
  transition: 0.3s;
  font-weight: 400;
}
header .menu ul a:hover {
  background-color: #b1d0e0;
  color: #1a374d;
  transition: 0.3s;
  font-weight: 400;
}
header #menuToggle {
  display: none;
}
header .menu-icon {
  display: none;
}

/* Home Section */
.home {
  min-height: 100vh;
}
.home .container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.home .container img {
  height: 100%;
  animation: popup 0.8s ease-in-out;
}
.home .container .text {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: center;
  animation: appear 1.6s;
}
.home .container .text h1 {
  font-size: 72px;
  font-weight: bold;
  line-height: auto;
}
.home .container .text h1 span {
  color: #1a374d;
}
.home .container .text p {
  font-size: 28px;
  margin-top: 20px;
  letter-spacing: 2px;
  line-height: 40px;
}
.home .container .arrow {
  font-size: 24px;
  animation: bounce 2s ease-in-out infinite, appear 1.6s;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 77%;
  margin: 0 0 0 35%;
  width: 50%;
  font-weight: bold;
}
.home .container .arrow a {
  color: #1a374d;
}
.home .container .arrow a i {
  font-size: 48px;
  margin-top: 5px;
}

/* About */
.about {
  min-height: 100vh;
  background-color: #406882;
  color: white;
  padding: 0 80px;
}
.about .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.about .container h1 {
  font-size: 64px;
  text-align: center;
  margin: 150px 0 100px 0;
}
.about .container h2 {
  font-size: 40px;
}
.about .container h3 {
  font-weight: 400;
  margin-bottom: 50px;
  font-size: 24px;
}
.about .container .aboutContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .container .aboutContainer .desc1 {
  width: 25%;
  text-align: justify;
  padding: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}
.about .container .aboutContainer .desc1 .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about .container .aboutContainer .desc1 .top p {
  line-height: 28px;
  margin-top: 12px;
  font-size: 20px;
  font-weight: normal;
}
.about .container .aboutContainer .desc1 .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .container .aboutContainer .desc2 {
  width: 30%;
  background-image: url(asset/me2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  border-radius: 40px;
  margin: 20px;
}
.about .container .aboutContainer .desc2 img {
  height: 100%;
}
.about .container .aboutContainer .desc3 {
  width: 25%;
  padding-left: 50px;
}
.about .container .aboutContainer .desc3 h2 {
  margin-bottom: 12px;
}
.about .container .aboutContainer .desc3 ul li {
  font-size: 20px;
  margin-bottom: 8px;
  margin-left: 20px;
}
/* social media */
.about .container .aboutContainer .desc1 .bottom h2 {
  margin-top: 24px;
}
.socialMedia {
  display: flex;
  margin-top: 12px;
  justify-content: space-evenly;
  width: 80%;
}
.socialMedia .instagram {
  background-color: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #dd2a7b;
  border-radius: 50%;
  transition: 0.5s;
  font-size: 24px;
}
.socialMedia .email {
  background-color: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ea4335;
  border-radius: 50%;
  transition: 0.5s;
  font-size: 24px;
}
.socialMedia .email:hover {
  background-color: #ea4335;
  color: white;
  transition: 0.5s;
}
.socialMedia .instagram:hover {
  background-color: #dd2a7b;
  color: white;
  transition: 0.5s;
}
.socialMedia .linkedin {
  background-color: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0077b5;
  border-radius: 50%;
  transition: 0.5s;
  font-size: 24px;
}
.socialMedia .linkedin:hover {
  background-color: #0077b5;
  color: white;
  transition: 0.5s;
}
.socialMedia .spotify {
  background-color: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1ed761;
  border-radius: 50%;
  transition: 0.5s;
  font-size: 24px;
}
.socialMedia .spotify:hover {
  background-color: #1ed761;
  color: white;
  transition: 0.5s;
}
.socialMedia .github {
  background-color: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #171515;
  border-radius: 50%;
  transition: 0.5s;
  font-size: 24px;
}
.socialMedia .github:hover {
  background-color: #171515;
  color: white;
  transition: 0.5s;
}

/* Education background */
.about .container .edu {
  margin: 50px 0 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.about .container .edu h2 {
  margin-bottom: 24px;
  text-align: center;
}
.about .container .edu table {
  font-size: 24px;
  border-collapse: collapse;
  overflow: auto;
  white-space: nowrap;
  width: 70%;
}
.about .container .edu table td {
  padding: 15px;
  padding-right: 100px;
}
.about .container .edu table thead {
  background-color: #6998ab;
  font-weight: 600;
}
.about .container .edu table tbody {
  background-color: #b1d0e0;
}
.about .container .edu table tbody tr:nth-child(2) {
  background-color: #a0c4d6;
}

/* Portfolio */
.portfolio {
  min-height: 100vh;
  background-color: #b1d0e0;
  color: #1a374d;
  padding-bottom: 100px;
}
.portfolio h1 {
  text-align: center;
  font-size: 64px;
  padding-top: 100px;
  margin-bottom: 48px;
}
.portfolio .container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio .container .card {
  width: 25%;
  height: fit-content;
  background-color: #406882;
  border-radius: 24px;
  padding: 24px;
  margin: 24px;
}
.portfolio .container .card img {
  width: 100%;
  border-radius: 12px 12px 0 0;
}
.portfolio .container .card .desc {
  background-color: #b1d0e0;
  /* margin-top: 24px; */
  border-radius: 0 0 12px 12px;
  padding: 16px;
  height: auto;
}
.portfolio .container .card .desc h2 {
  margin-bottom: 8px;
}
.portfolio .container .card .desc p {
  font-size: 20px;
}
.portfolio .container .card .desc .links button {
  background: none;
  font-size: 20px;
  padding: 8px;
  border-radius: 8px;
  margin-top: 12px;
  width: 100%;
  transition: 0.3s;
}
.portfolio .container .card .desc .links button.repo {
  border: 1px solid #171515;
}
.portfolio .container .card .desc .links button.repo:hover {
  background-color: #171515;
  color: white;
}
.portfolio .container .card .desc .links button.preview {
  border: 1px solid #1a374d;
}
.portfolio .container .card .desc .links button.preview:hover {
  background-color: #1a374d;
  color: #b1d0e0;
}
.portfolio .container .card .desc .links button i {
  margin-right: 4px;
}

/* Contact Us */
.contact {
  min-height: 80vh;
  padding: 100px 0;
}
.contact h1 {
  color: #1a374d;
  font-size: 64px;
  text-align: center;
  margin-bottom: 50px;
  width: 100%;
  padding: 0 24px;
}
.contact .container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.contact .container .contactImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .container .contactForm {
  width: 40%;
  margin-left: 100px;
}
.contact .container .contactForm form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-size: 24px;
  color: #1a374d;
}
.contact .container .contactForm form input {
  height: 40px;
  font-size: 24px;
  margin-bottom: 20px;
  padding: 0 12px;
}
.contact .container .contactForm form label {
  margin-bottom: 8px;
  font-weight: bold;
}
.contact .container .contactForm form textarea {
  min-height: 100px;
  font-size: 24px;
  margin-bottom: 12px;
  min-width: 100%;
  max-width: 100%;
  padding-left: 12px;
  padding-top: 4px;
}
.contact .container .contactForm form button {
  height: 50px;
  font-size: 24px;
  background-color: #1a374d;
  color: #b1d0e0;
  transition: 0.3s;
  border: none;
}
.contact .container .contactForm form button:hover {
  height: 50px;
  font-size: 24px;
  background: none;
  color: #b1d0e0;
  transition: 0.3s;
  border: 1px solid #1a374d;
  color: #1a374d;
}

/* footer */
footer {
  min-height: 20vh;
  background-color: #1a374d;
  color: #b1d0e0;
}
footer p {
  font-size: 24px;
  text-align: center;
  margin-top: 12px;
  border-top: 1px solid #b1d0e0;
  padding: 24px 0;
}
footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 100px 100px 50px 100px;
}
footer .container .footerItem:nth-child(1) {
  text-align: left;
  width: 35%;
}
footer .container .footerItem:nth-child(1) h1:nth-child(1) {
  font-size: 36px;
}
footer .container .footerItem:nth-child(1) .socialMedia {
  justify-content: flex-start;
}
footer .container .footerItem:nth-child(1) .socialMedia a {
  margin-right: 16px;
}
footer .container .footerItem {
  width: 20%;
  text-align: left;
  margin: 0 24px;
  font-size: 20px;
}
footer .container .footerItem:nth-child(2) {
  width: 15%;
}
footer .container .footerItem:nth-child(3) {
  width: 30%;
}
footer .container .footerItem:nth-child(3) ul li:nth-child(3) {
  display: none;
}
footer .container .footerItem ul {
  list-style: none;
}
footer .container .footerItem ul a {
  color: #b1d0e0;
}
footer .container .footerItem ul li {
  margin-bottom: 12px;
}
footer .container .footerItem h1 {
  font-size: 24px;
  margin-bottom: 24px;
}
/* Media Query */
@media screen and (max-width: 1200px) {
  .home .container img {
    display: none;
  }
  .home .container .text {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    justify-content: center;
    animation: appear 1.6s;
  }
  .home .container .arrow {
    width: 100%;
    margin: 0;
  }
  .about .container {
    text-align: center;
  }
  .about .container .aboutContainer {
    flex-direction: column;
    text-align: center;
  }
  .about .container .aboutContainer .desc1 {
    width: 100%;
    order: 2;
    margin-bottom: 52px;
  }
  .about .container .aboutContainer .desc1 .bottom {
    margin-top: 24px;
  }
  .about .container .aboutContainer .desc1 .bottom .socialMedia {
    width: 70%;
    margin-top: 32px;
  }
  .about .container .aboutContainer .desc1 .bottom .socialMedia a div {
    height: 75px;
    width: 75px;
    font-size: 32px;
  }
  .about .container .aboutContainer .desc2 {
    width: 100%;
    order: 1;
    margin-bottom: 50px;
    background-position-x: center;
    background-position-y: 20%;
  }
  .about .container .aboutContainer .desc3 {
    width: 100%;
    order: 3;
    margin-bottom: 24px;
    margin-left: 0;
    padding: 0;
  }
  .about .container .aboutContainer .desc3 ul li {
    margin-left: 0;
    list-style: none;
    font-size: 24px;
    margin: 24px;
  }
  .about .container .edu table {
    display: block;
    width: 100%;
  }
  .portfolio .container .card {
    width: 40%;
  }
  .contact .container {
    flex-direction: column;
  }
  .contact .container .contactForm {
    width: 100%;
    margin: 0;
    padding: 0 100px;
    text-align: center;
  }
  footer .container {
    justify-content: flex-start;
  }
  footer .container .footerItem:nth-child(1) {
    width: 100%;
    margin-bottom: 50px;
  }
  footer .container .footerItem:nth-child(2) {
    width: 30%;
    margin-bottom: 50px;
  }
  footer .container .footerItem:nth-child(3) {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  /* NavBar */
  header {
    display: block;
    padding: 0;
  }
  header .brandLong {
    display: none;
  }
  header .brandShort {
    display: flex;
    margin-left: 50px;
  }
  header .menu {
    width: 100%;
    height: auto;
  }
  header .menu ul {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
  }
  header .menu ul a {
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: #1a374d;
  }
  header .menu-icon {
    width: 120px;
    height: inherit;
    display: block;
    position: absolute;
    top: 18px;
    right: 0px;
    color: #b1d0e0;
  }
  header #menuToggle:checked ~ ul {
    max-height: 350px;
  }
  header .menu-icon i {
    font-size: 1.7em;
  }
  header .home .container .text h1 {
    font-size: 48px;
  }
  .home .container .arrow {
    display: none;
  }
  .about .container .aboutContainer .desc1 .bottom .socialMedia {
    width: 100%;
    margin-top: 32px;
  }
  .about .container .aboutContainer .desc1 .bottom .socialMedia a div {
    height: 60px;
    width: 60px;
    font-size: 24px;
  }
  .portfolio .container .card {
    width: 80%;
  }
  .contact .container .contactImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .contact .container .contactImg img {
    width: 100%;
    padding: 0 100px;
  }
  footer .container {
    flex-direction: column;
  }
  footer .container .footerItem {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
  footer .container .footerItem:nth-child(1) {
    text-align: center;
  }
  footer .container .footerItem:nth-child(1) .socialMedia {
    justify-content: space-evenly;
    width: 100%;
  }
  footer .container .footerItem:nth-child(1) .socialMedia a {
    margin-right: 0px;
  }
  footer .container .footerItem:nth-child(2) {
    width: 100%;
  }
  footer .container .footerItem:nth-child(3) {
    width: 100%;
  }
  footer .container .footerItem:nth-child(3) ul li:nth-child(2) {
    display: none;
  }
  footer .container .footerItem:nth-child(3) ul li:nth-child(3) {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .brandShort {
    display: flex;
    margin-left: 40px;
  }
  .menu-icon {
    width: 100px;
  }
  .home .container .text h1 {
    font-size: 36px;
  }
  .home .container .arrow a {
    display: none;
  }
  .contact .container .contactForm {
    padding: 0 50px;
  }
  .contact .container .contactImg img {
    width: 100%;
    padding: 0 50px;
  }
  footer .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
